<header class="header">
  <h1 class="logo">NgRx</h1>
  <ul class="menu">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="link"
      >Dashboard</a>
    </li>
    <li>
      <a
        routerLink="/components"
        routerLinkActive="active"
        class="link"
      >Components</a>
    </li>
    <li>
      <a
        routerLink="/articles"
        routerLinkActive="active"
        class="link"
      >Articles</a>
    </li>
  </ul>
</header>
