<app-heading label="Components Page" />

<app-collapsible
  header="Toggle"
  width="w-4/12"
  [toggleInfo]="toggleInfo$ | async"
  (toggle)="toggle()"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita saepe vitae doloremque esse
  blanditiis delectus perspiciatis, culpa, eveniet reiciendis maiores, doloribus ipsa voluptatum necessitatibus?
  Totam excepturi hic, earum, ut neque veritatis error illo quae vitae repellat quod minima nulla, officiis architecto
  pariatur atque deleniti aliquam rem obcaecati eaque at quibusdam.
</app-collapsible>
